name: Build Skeleton

on:
  push:
    branches: [ main ]
  release:
    types: [ published ]
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release version to target for re-upload'     
        required: true
        default: ''

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Extract Tag
        run: |
          echo "tag=$([ '$GITHUB_EVENT_NAME' == 'workflow_dispatch' ] && echo '$GITHUB_EVENT_INPUTS_TAG' || echo '$GITHUB_REF')" >> $GITHUB_ENV
      - name: Generate Skeleton Packages
        uses: w00fz/skeleton-builder@main
      - name: Upload packages to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ env.tag }}
          file: dist/*.zip
          overwrite: true
          file_glob: true
          verbose: true
